apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: husk
spec:
  replicas: 1
  selector:
    matchLabels:
      service: husk
  template:
    metadata:
      labels:
        service: husk
        snmp: enabled
    spec:
      containers:
      - image: {{IMAGE_PATH}}/husk:{{IMAGE_TAG}}
        imagePullPolicy: Always
        name: husk
        ports:
        - containerPort: 22
        - containerPort: 3868
        envFrom:
        - configMapRef:
              name: env-vars
        env:
        - name: MY_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: PUBLIC_HOSTNAME
          value: husk 
        volumeMounts:
        - name: husklogs
          mountPath: /var/log/husk
      - image: busybox
        name: tailer
        command: [ "tail", "-F", "/var/log/husk/husk_current.txt" ]
        volumeMounts:
        - name: husklogs
          mountPath: /var/log/husk
      volumes:
      - name: husklogs
        emptyDir: {}
      restartPolicy: Always
