apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rogers
spec:
  replicas: 1
  template:
    metadata:
      labels:
        service: rogers
    spec:
      terminationGracePeriodSeconds: 120
      containers:
      - image: "{{IMAGE_PATH}}/rogers:{{IMAGE_TAG}}"
        imagePullPolicy: Always
        name: rogers
        ports:
        - containerPort: 22
        - containerPort: 11311
        envFrom:
        - configMapRef:
              name: env-vars
        env:
        - name: MY_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        livenessProbe:
          tcpSocket:
            port: 11311
          periodSeconds: 10
          failureThreshold: 9
        readinessProbe:
          tcpSocket:
            port: 11311
        volumeMounts:
        - name: rogerslogs
          mountPath: /var/log/rogers
        lifecycle:
          preStop:
            exec:
              command: ["/bin/bash", "-c", "/usr/bin/pre-stop"]
      - image: busybox
        name: tailer
        command: [ "tail", "-F", "/var/log/rogers/rogers_current.txt" ]
        volumeMounts:
        - name: rogerslogs
          mountPath: /var/log/rogers
      volumes:
      - name: rogerslogs
        emptyDir: {}
      restartPolicy: Always
